body{
	font-family:'Open Sans', sans-serif!important;
}

strong{ font-weight:700; }

.cls{ clear:both; }
.absolutes{
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}
span.error{
    color:red;
    font:14px 'Open Sans';
    font-style:italic;
}
input.error{
    background:pink;
    border:1px solid red;
}

#wrapper{
	top:0;bottom:0;left:0;right:0;
	position:absolute;
	overflow:hidden;
}

.header.navbar{
    background:#545454;
    color:#FFFFFF;
    height:5.5em;
}
.head-title{
    font-size:130%;
    text-transform:uppercase;
}
.logo-holder{
    border-left:1px solid #808080;
    padding-top:.4em;
    padding-bottom:1.5em;
    width:17em;
}
.navbar-brand{
    padding:6.3%;
}
.navbar-brand img{
    margin-left:2em;
}

.page-sidebar{
	background:#F3F3F3;
	min-height:45em;
	width:14em;
	padding-left:2em;
	padding-top:6em;
	position:fixed;
	top:0;bottom:0;
}
.navheader{
	font-weight:700;
	margin-top:1em;
}
.page-sidebar ul{
	padding-left:.15em;
}
.page-sidebar ul li{
	color:#2c2c2c;
	list-style:none;
	padding-top:.3em;
}
.page-sidebar ul li a{
	color:#2c2c2c;
}
.page-sidebar ul li.selected{
	list-style:url(../img/arrow.png);
}
.page-sidebar ul li.selected a{
	color:#349ecd;
	font-weight:bold;
}
.about-lnk{
/*    margin-top:160%;*/
    position:absolute;
    bottom:20px;
}
.about-lnk a, .about-lnk .glyphicon{
    color:#777;
}

#map{
	background:#9FC9FB;
	margin-top:5.5em;
	height:auto!important;
	margin-left:16em;
    min-width:500px;
}
.leaflet-top.leaflet-right{ margin-top:.9em; }

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.slideholder{
    margin-left:8%;
    padding:0;
}
.slidebox{
    margin:0;
    padding-top:1.5em;
}
.slider.slider-horizontal{
	height:10px;
	margin-left:2.4em;
	width:28.2em;
}
.slider-labels{
	width:34em;
}
.slider-labels span{
	padding:0 1.4em;
}

/*about*/
#about{
    background: url(../img/hki-pecs.jpg) no-repeat top center #DFDFDF;
    background-size:100%;
    background-position:top center;
}
#about .header.navbar{
    height:4.5em;
    margin-top:-.3em;
    z-index:20000;
}
#about .about-pg{
    background:#F3F3F3;
    color:#444;
    font:18px Georgia!important;
    line-height:1.6em!important;
/*    margin:38em auto 2em;*/
    margin:34% auto 2em;
    padding:2em 4em;
/*    width:48em;*/
    z-index:10000;
}
#about .jumbotron{
    padding:0;
}
.about-pg h2{
    font-weight:bold;
    font-family:'Open Sans'!important;
}
.about-pg h4{
    font-family:'Open Sans'!important;
    font-size:17px;
    font-weight:normal;
    margin-bottom:1.2em;
}
.jumbotron img.img-responsive{
    margin-top:-3em;
    width:100%;
}
.back-btn{
    background:#35A3D1;
    border-radius:0;
    color:#FFFFFF;
    padding:1.2em 1.6em;
    position:fixed;
    margin-top:4.2em;
}
.back-btn:hover{
    color:#FFF;
}
.about-pg p{
    padding:0.4em 0;
}
.contact-lnk{
    font-family:'Open Sans', sans-serif!important;
}
.contact-lnk a{
    color:#444;
    text-decoration:underline;
}

/*floating modals*/
.modalbox{
    display:none;
}
#fade-bg{
    background:rgba(0,0,0,0.5);
    z-index: 20000;
}
#about-box{
    background:#000;
    box-shadow:0 6px 2px #333;
    box-sizing: border-box;
    color:#ffffff;
    font:16px Georgia!important;
    line-height:1.5em!important;
    height:28em;
    width:35em;
    margin:auto;
    padding:2em;
    z-index: 20001;
}
#about-box .container{
    width:auto;
}
#about-box .container > p:first-child{
    border-bottom:0.1em solid #EFEFEF;
    margin-bottom:1.7em;
    padding:1em 2em 2em;
}
#about-box .img-responsive{
    margin:0 auto;
}
#about-box a{
    text-decoration:underline;
}

/*Forms*/
.form-inline input, .form-inline button{
    border-radius:0;
}
.form-inline input{
    width:60%!important;
}

/*Responsive-grids*/
@media (max-width:1363px) {
    .header.navbar{
        background:#545454;
        color:#FFFFFF;
        height:5.5em;
    }
    #map_bd .head-title{
        font-size:130%;
        text-transform:uppercase;
        margin-top:-.6em;
    }
    .slideholder{
        margin-left:0;
    }
}

@media (max-width: 1130px) {
    .header.navbar{
        height:7.2em;
        overflow:hidden;
    }
	.head-title{
        width:100%;
    }
    .slidebox{
        margin-left:0.7em;
        padding-top:.5em;
        width:100%;
    }
    .logo-holder{
        padding:0;
        padding-bottom:3.7em;
    }
    .navbar-brand{
        padding:13.3% 6% 13.3% 9%;
    }
    .page-sidebar{
        padding-top:8em;
    }
    .leaflet-top.leaflet-right{
        margin-top:3.2em;
    }
}

@media (max-width: 960px) {
	.header-inner .col-sm-9{
        width:66%;
        padding-right:0;
    }
}

@media (max-width: 780px) {
	.header-inner .col-sm-9{
        margin:0 auto;
        width:520px!important;
    }
	.logo-holder{
        display:none!important;
    }
}
